<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Add comments</h2>
    <form action="/comments" method="post">
      <div>
        <label for="user">User Name</label>
        <input type="text" name="user" id="user" placeholder="username" />
      </div>
      <div>
        <label for="text">User Name</label>
        <textarea
          type="text"
          name="text"
          id="text"
          cols="25"
          rows="10"
        ></textarea>
      </div>
      <button>Create comment</button>
    </form>
  </body>
</html>
