/* * {
  margin: 0;
  padding: 0;
} */
/* section {
  width: 700px;
  height: 450px;
  border: 2px solid black;
  background-color: antiquewhite;
}

section:nth-of-type(2) {
  background-color: azure;
  width: 70vw; 
}

div {
  height: 50%;
  width: 50%;
  border: 2px solid black;
  background-color: pink;s
} */

html {
  font-size: 32px;
}

section {
  /* font-size: 72px; */
}

ul li {
  font-size: 0.5rem;
}
