<%- include('./partials/header')%>
<nav
  style="background-color: steelblue"
  class="navbar navbar-expand-lg navbar-light"
>
  <div class="container-fluid">
    <a style="color: white" class="navbar-brand" href="#">PhotoGrapher's</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          style="color: white"
          class="nav-link active"
          aria-current="page"
          href="#"
          >Home</a
        >
        <a style="color: white" class="nav-link" href="#">Features</a>
        <a style="color: white" class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quidem corporis,
  odit nam rem quas nulla laudantium harum assumenda, debitis placeat animi.
  Deleniti rem provident, dolorem blanditiis esse quaerat voluptate?
</p>

<div id="grid-container" class="container">
  <div class="div-images"></div>
  <div class="div-images"></div>
  <div class="div-images"></div>
  <div class="div-images"></div>
  <div class="div-images"></div>
  <div class="div-images"></div>
  <div class="div-images"></div>
  <div class="div-images"></div>
  <div class="div-images"></div>
</div>

<%- include('./partials/footer')%>
