<%- include('./partials/header')%>
<h1>This is Home Route</h1>
<%- include('./partials/Navbar')%>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis explicabo
  illo rem. Velit nam ipsam quis voluptatum sit debitis nesciunt ea vitae! Modi,
  quam aspernatur laudantium beatae eum tempore.
</p>
<%- include('./partials/footer')%>
